<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />    
    <link rel="stylesheet" type="text/css" href="/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/social.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">
      <div class="header clearfix">
        <h3>
          <a href="/">
            <img src="/images/blackRock.png" alt="BlackRock Logo" />
          </a>
        </h3>
      </div>