<%- include partials/header.ejs %>    

      <div class="jumbotron">
          <h1 class="display-4">Social Authentication App</h1>
          <p class="lead">
            An application that allows you to authenticate without going through boring long registration process
          </p>
          <p>
            <button class="btn btn-success" id="openLock">Auth0 LockWidget</button>
            <div>
              <button class="btn btn-social btn-google" id="signInGoogle">
                <span class="fa fa-google"></span>Google
              </button>
              <button class="btn btn-social btn-github" id="signInGithub">
                <span class="fa fa-github"></span>Github
              </button>
              <button class="btn btn-social btn-twitter" id="signInTwitter">
                <span class="fa fa-twitter"></span>Twitter
              </button>
              <button class="btn btn-social btn-facebook"" id="signInFacebook">
                <span class="fa fa-facebook"></span>Facebook
              </button>
            </div>   
            <br>
            <div>
              <a class="btn btn-social btn-facebook"" id="signInFacebook" href="/user/1">
                <span class="fa fa-rocket"></span>User 1
              </a>
              <a class="btn btn-social btn-facebook"" id="signInFacebook" href="/user/2">
                <span class="fa fa-rocket"></span>User 2
              </a>
            </div>         
          </p>
      </div>
    <%- include partials/footer.ejs %>      
    

    <script src="https://cdn.auth0.com/js/lock/10.12.1/lock.min.js"></script>
    <script src="https://cdn.auth0.com/w2/auth0-7.6.1.min.js"></script>
    <script type="text/javascript">
      (function(){
          var env = JSON.parse('<%- env %>');

          var auth0 = new Auth0({
            domain: env.AUTH0_DOMAIN,
            clientID:env.AUTH0_CLIENT_ID,
            callbackURL:env.AUTH0_CALLBACK_URL
          });

          var signInGoogle = function(){
            auth0.signin({connection:'google-oauth2'}); 
          };

          var signInTwitter = function(){
            auth0.signin({connection:'twitter'}); 
          };
          var signInGithub = function(){
            auth0.signin({connection:'github'}); 
          };


          var userNameAndPasswordLogin = function(){
            auth0.signin({
              connection:'Username-Password-Authentication',
              username:"gkjha009@gmail.com",
              password:""
            })
          };

          var signInFacebook = function(){
            auth0.signin({ connection:"facebook" })
          };

          var createLock = function(){
              var lock = new Auth0Lock( env.AUTH0_CLIENT_ID, env.AUTH0_DOMAIN, { auth: {
                    redirectUrl: env.AUTH0_CALLBACK_URL, 
                    responseType: 'code', 
                    params: { scope: "openid birthdate profile user_metadata" }
                  }
              });

              lock.show();
          };

          document.querySelector("#openLock").addEventListener("click", createLock, false);          
          document.querySelector("#signInGoogle").addEventListener("click", signInGoogle, false );
          document.querySelector("#signInTwitter").addEventListener("click", signInTwitter, false );
          document.querySelector("#signInGithub").addEventListener("click", signInGithub, false );
          document.querySelector("#signInFacebook").addEventListener("click", signInFacebook, false );

      }());
    </script>
  </body>
</html>
