<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h3><img src="images/blackRock.png" alt="BlackRock Logo" /></h3>
      </div>

      <div class="jumbotron">
          <h1 class="display-4">Social Authentication App</h1>
          <p class="lead">
            An application that allows you to authenticate without going through boring long registration process
          </p>
          <p>
            <button class="btn btn-success" id="openLock">Login</button>
            <button class="btn btn-success" id="signInGoogle">SignIn with Google</button>
            <button class="btn btn-success" id="signInFacebook">SignIn with Facebook</button>
          </p>
      </div>

      <footer class="footer">
        <p>&copy; BlackRock</p>
      </footer>
    </div> 
    <!-- /container -->

    

    <script src="https://cdn.auth0.com/js/lock/10.12.1/lock.min.js"></script>
    <script src="https://cdn.auth0.com/w2/auth0-7.6.1.min.js"></script>
    <script type="text/javascript">
      (function(){

          var env = JSON.parse('<%- env %>');
          console.info( env );

          var auth0 = new Auth0({
            domain: env.AUTH0_DOMAIN,
            clientID:env.AUTH0_CLIENT_ID,
            callbackURL:env.AUTH0_CALLBACK_URL
          });

          var signInGoogle = function(){
            auth0.signin({
              connection:'google-oauth2'              
            })
          };


          var userNameAndPasswordLogin = function(){
            auth0.signin({
              connection:'Username-Password-Authentication',
              username:"gkjha009@gmail.com",
              password:""
            })
          };

          var signInFacebook = function(){
            auth0.signin({
              connection:"facebook"
            })
          };

          var createLock = function(){
              var lock = new Auth0Lock( env.AUTH0_CLIENT_ID, env.AUTH0_DOMAIN, { auth: {
                    redirectUrl: env.AUTH0_CALLBACK_URL, 
                    responseType: 'code', 
                    params: { scope: "openid birthdate profile user_metadata" }
                  }
              });

              lock.show();
          };

          document.querySelector("#openLock").addEventListener("click", createLock, false);          
          document.querySelector("#signInGoogle").addEventListener("click", signInGoogle, false );
          document.querySelector("#signInFacebook").addEventListener("click", signInFacebook, false );

      }());
    </script>
  </body>
</html>
