<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />    
  </head>
  <body>
    <img src="<%= user.picture %>"></img>
    <h2>Welcome <%= user.nickname %></h2> <a href="/logout">Logout</a>
    <br/>

    <h2>User profile</h2>
    <pre>
    	<%= userProfile %>
    </pre>
    <br/>    
  </body>
</html>
